.DS_Store
__pycache__
# pretrained_models
songs/
node_modules/
api/static-build
api/staticroot/
.env
api/assets/dev/
api/assets/bundles/
.devcontainer
.lsp
test-results/
playwright-report/
google-application-credentials.json

# Mise
mise.local.toml