.lyric-display {
    white-space: pre;
}

.completed-lyrics {
    white-space: pre;

}

.current-lyrics {
    white-space: pre;

}

span.upcoming-lyrics {
    display: inline-block;
    white-space: pre;

}

#app {}